* {
    max-width: 1200px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.dados-contato {
    display: flex;
    justify-content: space-between;
}

.dados-contato .contato {
    display: flex;
    margin: auto 0;
}

.dados-contato .contato .phone {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: darkblue;
}

.dados-contato .contato .phone a {
    color: darkblue;
}

.dados-contato .contato .email {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: darkblue;
}

.dados-contato .contato .email a{
    color: darkblue;
}

.dados-contato .lingua-pagina {
    display: flex;
    margin: auto 0;
    width: 150px;
    justify-content: space-evenly;
}

.dados-contato .lingua-pagina a img {
    width: 25px;
    margin: 0;
    border-radius: 45px;
}

.dados-contato .lingua-pagina a:hover {
    scale: 1.2;
    transition-duration: 0.6s;
}

.dados-contato .lingua-pagina a:not(hover) {
    scale: 1;
    transition-duration: 0.6s;
}

.dados-contato .contato .lingua-pagina {
    display: flex;
    justify-content: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.top-section .logo {
    display: flex;
    width: 200px;
    margin: auto 0;
}

.top-section .logo a {
    display: flex;
}

.top-section .logo img {
    width: 50px;
    border-radius: 45px;
}

.top-section .logo p {
    color: darkblue;
}

.top-section .redes-sociais {
    justify-content: right;
    margin: auto 0;
}

.top-section .redes-sociais ul {
    display: flex;
    width: 100px;
    justify-content: space-evenly;
}

.top-section .redes-sociais ul li {
    list-style: none;
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 45px;
    padding: 2px;
}

.top-section .redes-sociais ul li a {
    color: darkblue;
    transform: translateY(2px);
}

.top-section .redes-sociais ul li:hover {
    scale: 1.5;
    transition-duration: 0.6s;
}

.top-section .redes-sociais ul li:not(hover) {
    scale: 1;
    transition-duration: 0.6s;
}

/*NAVBAR*/

.nav-bg{
    z-index: -1;
    position: absolute;
    top:105px;
    width: 100%;
    height: 40px;
    background-color: rgba(163, 163, 163, 0.178);

}
.navbar{
    padding: 0;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 90%;
    height:60px;
    overflow: visible;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-btn{
    width: 100px;
    height: 30px;
    margin: 0;
    color: gray;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn:hover{
    background-color: yellow;
    margin: 0;
    width: 120px;
    height: 50px;
    transition: 1000ms;
}
.nav-btn:before{
    position: absolute;
    top: 127px;
    content: '';
    width: 0;
    height: 0;
    border: solid 61px transparent;
    border-top: solid 10px transparent;
}
.nav-btn:hover:before{
    position: absolute;
    top: 147px;
    content: '';
    width: 0;
    height: 0;
    border: solid 61px transparent;
    border-top: solid 10px yellow;
    transition: 1000ms;
}
.nav-btn::after{
    z-index: -1;
    position: absolute;
    content: '';
    opacity: 0;
    width: 0;
    height: 0;
    top: 99px;
    margin-left: 100px;
    border: solid 3px transparent;
}
.nav-btn:hover:after{
    z-index: -1;
    position: absolute;
    content: '';
    opacity: 1;
    width: 0;
    height: 0;
    top: 99px;
    margin-left: 126px;
    border: solid 3px transparent;
    border-left: solid 3px rgb(170, 170, 0);
    border-bottom: solid 3px rgb(170, 170, 0);
    transition: 1000ms;
}

/* CARDS */

.card{
    display: flex;
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.3);
}
.banner{
    flex-shrink: 0;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
    background-size: cover;
}

.conteudo{
    margin: 40px;
    text-align: justify;
}
.img1{
    background-image: url(/prototipo-site-conjunto/src/image/img1.jpg);
}

.img2{
    background-image: url(/prototipo-site-conjunto/src/image/img2.jpg);
}